# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
.eggs/
*.egg-info/
*.egg

# Thumbnails
Thumbs.db
ehthumbs.db

# Logs
*.log
